/* header  */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .25rem 2.25rem;
    background-color: var(--primary);
}

header h3 {
    font-size: 1.75rem;
    color: var(--light);
}

a {
    color: var(--light);
    text-decoration: none;
    margin: 0 .5rem;
    text-transform: uppercase;
}

a.active{
    border-bottom: 3px solid var(--secondary);
    color: var(--secondary);
}
/* end header */

/* main home*/
main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 3rem;
}

main img{
    width: 100%;
    max-width: 350px;
}
/* main  */