@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;1,600&display=swap");

:root {
  --primary: #D92534;
  --secondary: #3a3b91f5;
  --light: #FFFEFE;
  --disabled: #FFD23F;
  --dark: #0a94e9;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  background-color: var(--dark);
}

